:root {
    --kuromi: #d0c6e9;
    --pompompurin: #f4efab;
}

body {
    font-family: Futura, sans-serif;
    line-height: 1.3;
    min-width: 350px;
}

/*sets all anchor elements aesthetics*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 0 15px rgba(255, 254, 252, 0.7);
}

/*header + nav */
header{
    background-color: var(--kuromi);
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 2%;
}

 header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    font-size: 15px;
    margin: 1%;
} 


.subtitle-column{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    float: left;
    min-width: 400px;
    border-right: 5px solid var(--pompompurin);
}

/*about me*/

#aboutme {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 250px;
    height: auto;
    /* position: relative; */
} 

#aboutme p {
    margin: 2%;
}

/*primary project*/
#primaryproject {
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#worktitle {
    height: 240px;
    border-right: 5px solid var(--pompompurin);
}

#worktitle h2 {
    margin-top: 80px;
}


#project1{
    background-image: url("../images/kuromi1.webp");
    height: 200px;
    min-width: 40%;
    margin: 25px;
    display: flex;
    flex: 1 0 auto;
}

h3 {
    position: absolute;
    padding: 2%;
    background-color: rgba(100, 100, 100, 0.2);
}

/*secondary projects*/
#secondaryprojects {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#secondaryprojectcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 auto;
}


.projectsubsection {
    display: flex;
    flex-direction: row;
}

#secondarytitle {
    height: 500px;
    border-right: 5px solid var(--pompompurin);
}

#secondarytitle h2 {
    display: none;
}

.secondaryprojectcards{
    height: 200px;
    /*flex??*/
    min-width: 40%;
    margin: 25px;
    display: inline;
    flex: 1 0 auto;
    margin: 25px;
}

/*change secondary project photo*/
#project2 {
    background-image: url(../images/my-melody.webp);
}

#project3 {
    background-image: url(../images/my-melody.webp);
}

#project4 {
    background-image: url(../images/my-melody.webp);
}

#project5 {
    background-image: url(../images/my-melody.webp);
}


/* contact me*/
#contactme {
    background-color: var(--kuromi);
    padding: 2%;
    margin:0;
    
}

#contactme ul {
    display: flex;
    font-size: 15px;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

 @media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
 }
